<section id="categories">
  <div class="container p-5">
    <h4 class="display-4">Categories</h4>
    <hr>
    <div *ngIf="!data.categories" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <div *ngIf="data.categories" class="list-group">
      <a *ngFor="let category of data.categories" routerLink="/category/{{ category._id }}" class="list-group-item list-group-item-action">
      {{ category.name }}
      </a>
    </div>
  </div>
</section>
