<div class="container p-5">
  <div class="row">
    <div *ngFor="let product of data.responseProducts" class="col-md-3 mb-5">
      <a routerLink="/product/{{ product._id }}">
        <div class="card bg-light">
         <img [src]="product.image" alt="product" class="card-img-top" width = "150" height = "200">
          <div class="card-body">
            <h5 class="card-title">{{ product.name}}</h5>
            <p class="card-text">{{ product.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
